################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Зачёт/obj/Зачёт.csproj.nuget.g.targets
/Зачёт/obj/Зачёт.csproj.nuget.g.props
/Зачёт/obj/Зачёт.csproj.nuget.dgspec.json
/Зачёт/obj/Release/netcoreapp3.1/Зачёт.GeneratedMSBuildEditorConfig.editorconfig
/Зачёт/obj/Release/netcoreapp3.1/Зачёт.AssemblyInfoInputs.cache
/Зачёт/.vs/Зачёт/DesignTimeBuild/.dtbcache.v2
/Зачёт/.vs/Зачёт/v16/.suo
/Зачёт/bin/Debug/netcoreapp3.1/Зачёт.deps.json
/Зачёт/bin/Debug/netcoreapp3.1/Зачёт.dll
/Зачёт/bin/Debug/netcoreapp3.1/Зачёт.exe
/Зачёт/bin/Debug/netcoreapp3.1/Зачёт.pdb
/Зачёт/bin/Debug/netcoreapp3.1/Зачёт.runtimeconfig.dev.json
/Зачёт/bin/Debug/netcoreapp3.1/Зачёт.runtimeconfig.json
/Зачёт/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Зачёт/obj/Debug/netcoreapp3.1/apphost.exe
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.AssemblyInfo.cs
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.AssemblyInfoInputs.cache
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.assets.cache
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.csproj.AssemblyReference.cache
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.csproj.CoreCompileInputs.cache
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.csproj.FileListAbsolute.txt
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.dll
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.GeneratedMSBuildEditorConfig.editorconfig
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.genruntimeconfig.cache
/Зачёт/obj/Debug/netcoreapp3.1/Зачёт.pdb
/Зачёт/obj/project.assets.json
/Зачёт/obj/project.nuget.cache
/Зачёт/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Зачёт/obj/Release/netcoreapp3.1/Зачёт.AssemblyInfo.cs
/Зачёт/obj/Release/netcoreapp3.1/Зачёт.assets.cache
/Зачёт/Зачёт.csproj
/Зачёт/Зачёт.sln
